/* bibliplug manager table */
.fixed .column-year { width:7%; }
.fixed .column-type { width:10%; }
.fixed .column-sync { width: 15%; }
.fixed .column-private_key { width: 20%; }
.fixed .column-last_updated { width: 20%; }

div#col-left { width: 25%; }
div#col-right { width: 73%; }

/* for reference add/edit form */
#bibliplug-creators { width:100%; border-spacing: 0px; border: solid 1px #DFDFDF; border-bottom-color: white; }
#bibliplug-creators th { text-align:left; padding: 0.5em; border-bottom: solid 1px #DFDFDF }
#bibliplug-creators tr td { border-bottom: solid 1px #DFDFDF; border-top: solid 1px white; padding-right: 1em; }
#bibliplug-creators input { width:100%; }
#bibliplug-creators option.red { background-color:red; color:white; }
#bibliplug-details th { width:100px; }
#bibliplug-details td { padding: 0; }
#bibliplug-details input.short { width:35%; }
#bibliplug-details input.long { width:98%; }
#bibliplug-details textarea { width:98%; }
#bibliplug-details select { width:35%; }
.bibliplug-hint { display:inline; position: absolute; right: -300px; width: 280px; margin-top: 0px; border: 1px solid #c93; padding: 2px 12px; background-color: #ffc; }
.bibliplug-state-highlight { height: 1.5em; line-height: 1.2em; }

/* for error printing */
.bib_warning { color:purple; }
.bib_error { color:red; }

/* settings for a large TinyMCE are on the Profile page */ 
#profile-page .form-table #author_bio { width: 100%; margin: 0;}